html::-webkit-scrollbar {
    display: none;
}

@media (width: 3840px) and (height: 2160px) {
    .success {
        border: none;
        background: linear-gradient(to right, #00c989e3, #00000000);
        color: white !important;
        font-weight: 600;
        font-size: 1.5vh;
        border-radius: 20px 0 0 0;
    }

    .primary {
        border: none;
        background: linear-gradient(to right, #3284a3e3, #00000000);
        color: white !important;
        font-weight: 600;
        font-size: 1.5vh;
        border-radius: 20px 0 0 0;
    }

    .error {
        border: none;
        background-color: rgba(220, 17, 1, 0.33);
        color: white !important;
        font-weight: 600;
        font-size: 1.5vh;
        border-radius: 20px 0 0 0;
    }

    .police {
        background-color: rgba(23, 23, 23, 90%);
        border-radius: 10px;
        box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
        border-left: 5px solid #2197f2;
        font-size: 1.5vh;
    }

    .ambulance {
        background-color: rgba(23, 23, 23, 90%);
        border-radius: 10px;
        box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
        border-left: 5px solid #f44236;
        font-size: 1.5vh;
    }

}

.success {
    border: none;
    color: white !important;
    font-weight: 600;
    background: linear-gradient(to right, #00c989e3, #00000000);
    border-radius: 20px 0 0 0;
}

.success .material-icons {
    color: #0ad406;
}

.primary {
    border: none;
    color: white !important;
    font-weight: 600;
    background: linear-gradient(to right, #3284a3e3, #00000000);
    border-radius: 20px 0 0 0;
}

.primary .material-icons {
    color: #0396ff;
}

.error {
    border: none;
    color: white !important;
    font-weight: 600;
    background: linear-gradient(to right, #c90700e3, #00000000);
    border-radius: 20px 0 0 0;
}

.error .material-icons {
    color: #ff0303;
}

.police {
    background-color: rgba(23, 23, 23, 90%);
    border-radius: 10px;
    box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
    border-left: 5px solid #2197f2;
}

.ambulance {
    background-color: rgba(23, 23, 23, 90%);
    border-radius: 10px;
    box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
    border-left: 5px solid #f44236;
}